*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;


}
.page1{
    width: 100%;
    height: 100%;
    background-color: #fb4e71;
    display: flex;
}
.left{
    width: 70%;
    height: 100%;
    /* background-color: aqua; */
    padding: 10% 10%;
    color: white;
}
.right{
    width: 30%;
    height: 100%;
}
.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.left h2{
    font-size: 5rem;
}
.left p{
    font-size: 30px;
    margin-top: 5%;
}

/* -------------------------PAGE2--------------------------- */
.page2{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
.page2 h2{
    font-size: 35px;
    margin-left: 5%;
    padding: 2% 0 0 0 ;
}

.inner{
    width: 90%;
    height: 80%;
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 20px;
}
.left2{
    width: 30%;
    height: 100%;
    background-color: black;
}
.right2{
    width: 70%;
    height: 100%;
    background-color: rgb(116, 61, 61);
}

.left2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10%; */
}